<!DOCTYPE html>
<html lang="ru">
<head>
    <a href="{% url 'create_car' %}" class="btn btn-primary btn-lg rounded-pill shadow">Добавить машину</a>
    <meta charset="UTF-8">
    <title>Список машин</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        h1 {
            background: linear-gradient(to right, #0d6efd, #6610f2);
            -webkit-background-clip: text;
            color: transparent;
            font-weight: bold;
        }
    </style>
    {% if user.is_authenticated %}
    <p>Привет, {{ user.username }}!</p>
    <a href="{% url 'logout' %}" class="btn btn-outline-secondary">Выйти</a>
     {% else %}
    <a href="{% url 'login' %}" class="btn btn-outline-primary">Войти</a>
    <a href="{% url 'register' %}" class="btn btn-outline-success">Регистрация</a>
    {% endif %}
</head>
<body>
<div class="container mt-4">
    <h1 class="mb-4">Продажа машин</h1>

    <div class="row">
        {% for car in cars %}
        <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
                <img src="{{ car.image.url }}" class="card-img-top" alt="{{ car.title }}" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">{{ car.title }}</h5>
                    <a href="{% url 'car_detail' car.pk %}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</body>
</html>
